img {
    max-width: 100%;
    height: auto;
}

.bg-default-image{
    background-image: url('/images/default.jpg');
    background-size: 100%;
    height: 150px;
   text-decoration: sandybrown;
}

.active{
    background-color:slategray;
    text-shadow: 2px 2px slategray;
}

.pointer {
    cursor: pointer;
}